body{
    margin: 0;
}
.container{
    width: 800px;
    height: 300px;
    display: flex;
    background-color: yellow;
    justify-content: center;
}
.flex{
    flex: flex;
    height: 100px;
    width: 100px;
}
.zold{
    background-color: green;
    display: none;
}
.sarga{
    background-color: yellow;
    display: none;
}
.lila{
    background-color: purple;
    align-self: center;
}