body{
    background-color: burlywood;
}
#cont{
    background-color: darkgreen;
    max-width: 75%;
    margin: auto;
    min-height: 500px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 15px;
}
