*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url("kepek/backimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

div{
    min-width: 250px;
    margin: auto;
    width: 17%;
    max-height: 75px;
    height: fit-content;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

#header{
    max-width: 80%;
    height: 75px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 65px;
    font-size: xx-large;
    padding: 5px;
    border-radius: 50px;
}

.gone{
    display: none;
}

.outercontainer, .innercontainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.innercontainer{
    flex-direction: column;
    max-height: 250px;
    height: 250px;
    border-radius: 25px;
    margin: auto;
    margin-top: 25px;
}

.outercontainer{
    width: 80%;
}

div.outercontainer>div.innercontainer>div{
    border-radius: 25px;
}

footer{
    margin-left: 20%;
}

.nap{
    font-weight: bold;
    font-size: larger;
}