@keyframes hide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    background-color: burlywood;
}
#prevselpair{
    margin: auto;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: green;
    border-radius: 15px;
}
#cont{
    background-color: darkgreen;
    max-width: 75%;
    margin: auto;
    min-height: 500px;
    margin-top: 50px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

#setup{
    background-color: black;
    color: white;
    margin: auto;
    max-width: fit-content;
    padding: 25px;
    border-radius: 20px;
}

.card{
    max-height: fit-content;
    max-width: fit-content;
    margin: 10px;
}

.hidden{
    display: none;
}

.hide{
    animation-name: hide;
    animation-duration: 1000ms;
}

.shown{
    animation-name: show;
    animation-duration: 1000ms;
}

.victoryroy{
    animation-name: show;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
}

