body{
    background-color: burlywood;
}
#cont{
    background-color: darkgreen;
    max-width: 75%;
    margin: auto;
    min-height: 500px;
    margin-top: 50px;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

#setup{
    background-color: black;
    color: white;
    margin: auto;
    max-width: fit-content;
    padding: 25px;
    border-radius: 20px;
}

.card{
    max-height: fit-content;
    max-width: fit-content;
    margin: 10px;
}